<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>

<img src="{{ cid }}" width="392" height="118">

<p>Nous confirmons l'achat de vos billets pour le musée du Louvre, bonne visite.<br><br>
    Votre NUMERO DE COMMANDE = N° {{ booking.orderNumber }}</p>

<table id="ticketingInfo">
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Date de naissance</th>
        <th>Prix du billet</th>
        <th>Pays</th>
        <th>Réduction</th>
    </tr>
    {% for ticket in booking.tickets %}
        <tr>
            <td>{{ ticket.firstName }}</td>
            <td>{{ ticket.lastName }}</td>
            <td>{{ ticket.birthday|date('d/m/Y') }}</td>
            <td>{{ ticket.ticketPrice }} €</td>
            <td>{{ ticket.country }}</td>
            <td>
                {% if ticket.discount == true %}
                    Oui
                {% else %}
                    Non
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>

<p>Montant total de votre commande : {{ booking.orderPrice }} € <br><br>
    Attention à ne pas oublier votre justificatif si un tarif réduit est appliqué</p>


</body>
</html>
