{% extends 'base.html.twig' %}
{% block body %}
    <div id="resumepage">
    <h2 id="titreRecap">Résumé de votre commande</h2>
        <div id="resBooking">
            <p>Jours de la visite : {{ booking.visitDay|date('d-m-y') }} </p>
            <p>Type de billet :
                {% if booking.orderType == true %}
                    Journée entière
                {% else %}
                    Demi-journée
                {% endif %}
            </p>
            <p>Nombre de billets : {{ booking.ticketNumber }} </p>
        </div>

        <table id="resInfo">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de naissance</th>
                <th>Prix du billet</th>
                <th>Pays</th>
                <th>Réduction</th>
            </tr>
            {% for ticket in booking.tickets %}
            <tr>
                <td>{{ ticket.firstName }}</td>
                <td>{{ ticket.lastName }}</td>
                <td>{{ ticket.birthday|date('d/m/Y') }}</td>
                <td>{{ ticket.country }}</td>
                <td>{{ ticket.ticketPrice }} €</td>
                <td>
                    {% if ticket.discount == true %}
                        Oui
                    {% else %}
                        Non
                    {% endif %}
                </td>
            </tr>

        {% endfor %}

        </table>

        <div id="totalPrice">
            <p>Montant total de votre commande : {{ booking.orderPrice }} € </p>
        </div>

        <div id="payementButton">
            <form method="post" id="payment-form">
                <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_f7TozI5oQIxOGZ4bTRFtwGZC00oWFcl0zL"
                        data-email="{{ booking.email }}"
                        data-amount="{{ booking.orderPrice * 100 }}"
                        data-name="Billeterie Louvre"
                        data-description="Votre commande"
                        data-locale="auto"
                        data-currency="eur">
                </script>
            </form>
        </div>
    </div>

{% endblock %}