{% extends 'base.html.twig' %}
{% block body %}
    <div id="tickets">
        <h1>Vos billets</h1>
    </div>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {% for ticket in form %}
        {{ form_errors(ticket) }}
        {{ form_widget(ticket) }}
    {% endfor %}
    <button type="submit">Valider</button>
    {{ form_end(form) }}

{% endblock %}