{% extends 'base.html.twig' %}
{% block body %}
    <div id="tickets">
        <h1>Vos billets</h1>
    </div>
    <div id="ticketsForm" class="ticketsForm">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {% for ticket in form.tickets %}
        Billet n° {{ loop.index }}
        {{ form_errors(ticket) }}
        {{ form_widget(ticket) }}
    {% endfor %}
        <button type="submit" id="ticketSubmit">Valider</button>
    </div>

    {{ form_end(form) }}

{% endblock %}